
.pc-bg-pil{
  background-color: #155ab9;
}
.pc-whi{
  width: 40%;
}
body{
  height: 100vh;
  font-family: "Roboto", sans-serif;;
}
header{
  height: 60px;
}
.img-mob{
  width: 50px;
}
.pc-hover:hover{
  background-color: rgba(255, 255, 255, 0.368);
}
.pc-bg-lgray{
  background-color: #f7f7f7;
}






.pc-nav-left{
  background-image: url(../assets/img/sidebar-bg.png);
  background-color: #051e34;
  height: 100%;
  width: 70px;
}
main{
  height: calc(100% - 60px);
}
.pc-main-content{
  width: 100%;
}
.pc-container{
  overflow: auto;
  width: calc(100% - 50px);
}
.table img{
  width: 30px;
}
.action{
  border: 1px solid gray;
  color: gray;
  border-radius: 10%;
  padding: 5px;
}
.table-px-sm{
  width: 80px;
}
.table-px-m{
  width: 100px;
}
.table-px-lg{
  width: 150px;
}
table th:not(:first-child),
table td:not(:first-child) {
  text-align: center;
}







@media (min-width: 991px){
  .pc-nav-left{
    width: 120px;
  }
  .img-mob{
    display: none;
  }
  .img-desk{
    display: block !important;
  }
  .pc-nav-left span{
    display: inline !important;
  }
  
  
}