.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}




body{
  height: 100vh;
  font-family: "Roboto", sans-serif;;
}
header{
  height: 60px;
}
.img-mob{
  width: 50px;
}





.debug{
  border: 1px solid black;
  
}
.pc-nav-left{
  background-color: aqua;
  height: 100%;
  width: 50px;
}
main{
  height: 700px;
}
.pc-icons{
  height: 200px;
}
.pc-settings{
  height: 100px;
}
.pc-main-content{
  width: 100%;
}
.pc-container{
  width: calc(100% - 50px);
}





@media only screen and (min-width: 767px){


}

@media only screen and (min-width: 991px){
  .pc-nav-left{
    width: 100px;
  }
  .img-mob{
    display: none;
  }
  .img-desk{
    display: block !important;
  }
  
}